:root {
    color-scheme: light dark;
}

body {
    width: 100px;
    padding: 10px;

    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
